.idea
log
log1
log2
log3
log4
log5
log6

# Development Node modueles are ignored
node_modules/nodeunit
node_modules/.bin/nodeunit
node_modules/.bin/nodeunit.cmd
break/validate.py

# Built files
build/lib
build/logread
build/logappend

# Course test files
check_test.py
dist_tests